*{
padding:0;
margin:0;
box-sizing: border-box;
scroll-behavior: smooth;
color:rgb(31, 31, 31); 
}

section{
    padding-top:7rem;
}

/* Start styling of header */

header{
    font-weight: bolder;  
    position: fixed;
    z-index: 100;
}

header .container{
    display: flex;
    justify-content: space-between;
    margin-top: 1.1rem;
}

header a{
    padding:7px;
    transition: 0.4s ease-in-out;
}
header a:hover{
    color:aliceblue;
    background-color :rgb(31, 31, 31);
    border-radius: 10px;
}
.special{
    display: none;
}
/* End styling header  */

/* Start styling of section Home */

 .btn .button1{
    border:1px solid rgb(31, 31, 31);
    color:rgb(86, 85, 85);
    padding:10px;
    border-radius:10px;
    
}
 .btn .button1:hover{
    color:rgb(232, 232, 232);
    background-color:rgb(31, 31, 31);
}
 .btn .button2{
    background-color:rgb(31, 31, 31);
    border-radius:10px;
    color:rgb(232, 232, 232);
    padding:10px;
}
 .btn .button2:hover{
    color:rgb(86, 85, 85);
    border:1px solid rgb(31, 31, 31);
    background-color: transparent;
}
.info .icon a{
    border: 2px solid beige ;
    border-radius:50%;
    padding:0 6px;
    background-color: beige;
}
.info .icon a:hover{
    border: 2px solid rgb(31, 31, 31) ;
    border-radius:50%;
    padding:0 6px;
}

 .info .sec12 h6{
    color:#605f5f;
}
 .info .sec1 , .info .sec2 {
    border:1px solid #000;
    border-radius:20px;
    padding:20px 40px;
    text-align:center;
}

.words p{
    color:#605f5f;
    letter-spacing:1px ;
}
.three td{
    padding:20px 20px;
    font-size: 1.8rem;
}

/* projects  section */
#Projects .container{
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
    justify-content: center;
  }

.four .container .card{
    height:435px;
    width: 20rem;
    border:2px solid #000;
    border-radius:25px;
    margin-bottom:20px;
  }

  .four .container .card img{
  height:280px;
  width:17em;
  margin: 20px auto ;
  border-radius:20px;
  }
  .four .container .card .under h2{
text-align:center;
font-weight:bold;
font-size:26px;
padding-bottom:20px;
  }
  .four .container .card .under a{
text-decoration: none;
color:#000;
border:1px solid #000;
border-radius:20px;
padding:10px 20px;
font-weight:bold;
text-align:center;
margin-left:24px;
  }
  .four .container .card .under .one_link{
    padding:10px 33px
  }
  .four .container .card .under a:hover{
    background-color: #000;
    color:#fff;
  }
/* End styling of section skills */

/* Start styling of section contact */

.five .icons a {
    font-size: 1.7rem;
    padding:40px 0;
    color: aqua ;
}

/* Responsive Screen */
@media (min-width: 899px) and (max-width: 2000px){
#Home{
    width:90%;
    margin:auto;
}
#ِHome img{
    width: 100%;
  }
}


@media (max-width: 899px) {
    header .container h1{
        font-size:1.8rem;
    }
    header nav a{
       font-size:0.7rem;
    }
#Home{
width:80%;
margin:auto;
}
#Home .btn{
display:grid;
grid-template-columns:1fr ;
gap: 13px;
}

#About .container{
    display: flex;
}

@media (max-width: 704px){

    #Home .container{
        display:flex;
        flex-direction: column;
        margin: auto;
    }
    #Home .container img{
        width: 100%;
        height: 100%;
        margin-bottom: 20px;
    } 
}
@media (max-width: 573px){
    .special{
        display:block;
    }
     header nav{
        display: none;
    }
    header nav a{
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 10px 0;
        margin: 0;
        text-align: center;
        font-size:1.2rem;
    }
    #Exprience td{

        font-size: 1.2rem;
    }
}
@media (max-width: 388px){
    .four .container .card .under .one_link{
        padding:10px 15px 
    }
    .four .container .card{
        height:380px;
        width: 18rem;
        border:2px solid #000;
        border-radius:23px;
        margin-bottom:18px;
      }
    
      .four .container .card img{
      height:230px;
      width:15em;
      margin: 18px auto ;
      border-radius:18px;
      }
      .four .container .card .under h2{
    text-align:center;
    font-weight:bold;
    font-size:24px;
    padding-bottom:18px;
      }
      .four .container .card .under a{
    text-decoration: none;
    color:#000;
    border:1px solid #000;
    border-radius:18px;
    padding:8px 18px;
    font-weight:bold;
    text-align:center;
    margin-left:22px;
      }
}
}
